<!doctype html>
<html data-ng-app="main" lang="en">
<head>
	<title>Monte Carlo Simulation of Craps game</title>
	<link rel="stylesheet" type="text/css" href="css/styles.min.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="main">
	<div class="content">
		<ng-view></ng-view>
	</div>
  </div>
  <script src="./lib/jquery/jquery.min.js"></script>
  <script src="./lib/angular/angular.min.js"></script>
  <script src="./lib/angular/angular-route.min.js"></script>
  <script src="./modules/montecarlo.min.js"></script>
</body>
</html>